<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            body {
                font-family: Roboto;
                background-color: grey;
            }
            
            h1 {
                float: center;
            }
        </style>
    </head>
    <body>
        
        <h1>{Name of Website}</h1>

        <p>
            {Name of website} is a platform for seeing stock recommendations as easily as possible.
            This is unique because it allows non-technical people to see the basic information that they need
            to know in a quick and easy way. Furthermore, it allows seasoned traders to view the best stocks
            to buy in an instant, based of of popular, tried-and-tested trading strategies.
        </p>

        <a href="/sign_up">Sign Up</a>
        <a href="/log_in">Log In</a>

        <script src="" async defer></script>
    </body>
</html>