<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Log In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <form method="POST"  action="{% url 'log_in_page' %}">
            {% csrf_token %} <!--Django tag to ensure form data is safe-->
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <a href="{% url 'sign_up_page' %}">Register</a> <!--button linking to register page-->
    </body>
