<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Options Pricing Calculator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h1>Options Pricing Calculator</h1>

        <form method="post">
            {% csrf_token %}
            <label>Stock:</label>
            <input name="stock" type="text" required>
            <label>Strike Price:</label>
            <input name="strike_price" type="number" step="0.01" required>
            <label>End Date:</label>
            <input name="end_date" type="date" required>
            <button type="submit">Calculate Option Price</button>
        </form>

        {%if show_result == True%}
        <h3>Option Price</h3>
            <h2>Call: {{call}}</h2>
            <h2>Put: {{put}}</h2>
        {% endif %}

        <p> This calculator uses the Black Scholes model.
            Click <a href="https://www.investopedia.com/terms/b/blackscholes.asp">here</a>
            to learn more about how the option prices are calculated, and the restraints
            of this model. <br> Do not trade options or use this calculator without
            properly understanding how they work and the risks involved.
        </p>

        <script src="" async defer></script>
    </body>
</html>