<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recommendations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <meta http-equiv="refresh" content="600"> <!--auto refreshes every 10 mins-->
    </head>
    <body>
        <!--Maybe add header here, or use 'extends' function-->
        <!--Add form for a search bar-->


        <table>
            <tr>
                <th>Ticker</th>
                <th>Company</th>
                <th>Price</th>
                <th>Price Change</th>
                <th>Price Change %</th>                
                <th>Buy</th>
                <th>Hold</th>
                <th>Sell</th>
            </tr>
            {%for i in data%}
                <!--Turn this table row into a link to that stock's page-->
                <!--Make the colour of all/some column change depending on price change-->
                <tr>
                    <td>{{i.ticker}}</td>
                    <td>{{i.company_name}}</td>
                    <td>${{i.current_price}}</td>
                    <td>${{i.price_change}}</td>
                    <td>{{i.price_change_percent}}%</td>
                    <td>{{i.total_buy_signals}}</td>
                    <td>{{i.total_hold_signals}}</td>
                    <td>{{i.total_hold_signals}}</td>
                </tr>
            {%endfor%}
        </table>
        
        <script src="" async defer></script>
    </body>
</html>