<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recommendations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <meta http-equiv="refresh" content="600">
    </head>
    <body>
        
        <h2>Very Strong Buy</h2>
        {% for i in very_strong_buy %}
            <li> {{ i }} </li>
        {% endfor %}

        <h2>Strong Buy</h2>
        {% for i in strong_buy %}
            <li> {{ i }} </li>
        {% endfor %}

        <h2>Buy</h2>
        {% for i in buy %}
            <li> {{ i }} </li>
        {% endfor %}

        <h2>Very Strong Sell</h2>
        {% for i in very_strong_sell %}
            <li> {{ i }} </li>
        {% endfor %}

        <h2>Strong Sell</h2>
        {% for i in strong_sell %}
            <li> {{ i }} </li>
        {% endfor %}

        <h2>Sell</h2>
        {% for i in sell %}
            <li> {{ i }} </li>
        {% endfor %}
        
        <script src="" async defer></script>
    </body>
</html>