<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recommendations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <meta http-equiv="refresh" content="600"> <!--auto refreshes every 10 mins-->
    </head>
    <body>
        <!--Maybe add header here, or use 'extends' function-->
        <!--Add form for a search bar-->


        <table>
            <tr>
                <th>Ticker</th>
                <th>Company</th>
                <th>Price</th>
                <th>Price Change</th>
                <th>Price Change %</th>                
                <th>Buy</th>
                <th>Hold</th>
                <th>Sell</th>
            </tr>
            {% for i in page_object %}
                <!--Make the colour of all/some column change depending on price change-->
                <tr>
                    <td>{{i.ticker}}</td>
                    <td>{{i.company_name}}</td>
                                
                    {% for x in i.stock_data.all %}
                        <!--'floatformat' shows number to 2dp-->
                        <td>${{x.current_price|floatformat:2}}</td>
                        <td>${{x.price_change|floatformat:2}}</td>    
                        <td>{{x.price_change_percent|floatformat:2}}%</td>
                    {% endfor %}
                                    
                    {% for x in i.recommendations.all %}
                        <td>{{x.total_buy_signals}}</td>
                        <td>{{x.total_hold_signals}}</td>
                        <td>{{x.total_sell_signals}}</td>
                    {% endfor %}

                    <td><a href="{% url 'stock_info' i.ticker %}">More Information</a></td>
                </tr>
            {% endfor %}
        </table>


        <div class="pagination">
            {% if page_object.has_previous %}
              <a href="?page=1">First</a>
              <a href="?page={{ page_object.previous_page_number }}">Previous</a>
            {% endif %}
          
            <span>Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}</span>
          
            {% if page_object.has_next %}
              <a href="?page={{ page_object.next_page_number }}">Next</a>
              <a href="?page={{ page_object.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
        
        <script src="" async defer></script>
    </body>
</html>