<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{stock.company_name|default:"No data"}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <meta http-equiv="refresh" content="600"> <!--auto refreshes every 10 mins-->
    </head>
    <body>
        <a href="{% url 'recommendations' %}">Back</a> <!--Links back to main page-->
        <a href="{% url 'log_out_page' %}">Log Out</a> <!--Logs the user out-->

        <h1>{{stock.company_name|default:"No data"}}</h1>

        <div>{{ graph|safe }}</div> <!--graph of stock prices-->
        
        <div>
            <div>
                <h2>Company Information</h2>
                <p>Ticker: {{stock.ticker|default:"No data"}}</p>
                <p>Name: {{stock.company_name|default:"No data"}}</p>
                <p>Sector: {{stock.sector|default:"No data"}}</p>
            </div>

            <div>
                <h2>Financial Information</h2>
                <p>Price: {{stockData.current_price|default:"No data"|floatformat:2}}</p>
                <p>Change ($): {{stockData.price_change|default:"No data"|floatformat:2}}</p>
                <p>Change (%): {{stockData.price_change_percent|default:"No data"|floatformat:2}}</p>
            </div>

            <div>
                <h2>Strategies</h2>
                <h3>The recommendation from each strategy</h3>
                <p>Moving Average: {{strategies.moving_averages|default:"No data"}}</p>
                <p>RSI: {{strategies.rsi|default:"No data"}}</p>
                <p>Bollinger Bands: {{strategies.bollinger_bands|default:"No data"}}</p>
            </div>

            <div>
                <h2>Recommendations</h2>
                <h3>The total number of each signal from the strategies</h3>
                <p>Buy: {{recommendations.total_buy_signals|default:0}}</p>
                <p>Hold: {{recommendations.total_hold_signals|default:0}}</p>
                <p>Sell: {{recommendations.total_sell_signals|default:0}}</p>
            </div>
        </div>

        <p>Last updated at {{stock.last_updated|default:"No data"}}</p>
        
        <script src="" async defer></script>
    </body>
</html>